.trendCard {
  padding: 20px;
}

.charts {
  margin-top: 24px;
}

.spinnerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  box-sizing: border-box;
}

.title {
  padding: 0 16px;
  margin-bottom: 0;
}
