.pageWrapper {
  margin: 16px;
}
.countryTable {
  width: 100%;
  margin-top: 16px;
  max-height: calc(100vh - 130px);
  overflow: auto;
}
.countryCell button {
  text-align: left;
  max-width: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}
@media only screen and (max-width: 600px) {
  .countryCell button {
    max-width: 80px;
  }
}

.countryFlag {
  vertical-align: middle;
}

.deltaConfirmed {
  color: rgba(0,0,255,1);
}

.deltaDeaths {
  color: rgb(236, 49, 75);
}

.deltaRecovered {
  color: rgb(5, 181, 132);
}
